<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Driver Revenge</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="css/main.min.css">

        <link rel="shortcut icon" type="image/png" href="/favicon.png">
    </head>

    <body>
        {% block body %}{% endblock %}

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.3.0/pixi.min.js"></script>

        <script src="js/desktop.min.js"></script>
    </body>
</html>
