.change-name {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .change-name__label {
        margin: {
            bottom: 16px;
        }
    }

    .change-name__input {
        width: 50%;
    }

    .change-name__button {
        margin: {
            top: 32px;
        }
    }

.change-name__success {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .change-name__loader {
        margin: {
            bottom: 32px;
        }
        animation: rotator 1.8s linear infinite;
    }

        .loader__path {
            stroke-dasharray: 280;
            stroke-dashoffset: 0;
            transform-origin: center;
            animation: dash 1.8s ease-in-out infinite;
            stroke: $brand-primary;
        }

    .change-name__information {
        display: inline-block;
        width: 331px;
        font: {
            size: 1.5rem;
        }
    }

    .change-name__periods {
        display: inline-block;
    }

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 280;
    }

    50% {
        stroke-dashoffset: 70;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(450deg);
    }
}
