.home__wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .home__url {
        margin: {
            top: 0;
            bottom: 32px;
        }
        font: {
            size: 48px;
        }
    }

    .home__connections {
        display: flex;
        width: 200px;
        padding: 0;
        margin: {
            top: 0;
            bottom: 64px;
        }
        list-style-type: none;
        justify-content: space-around;
        flex-flow: row nowrap;
    }

        .home__connection {
            position: relative;
            width: 16px;
            height: 16px;
            background: {
                color: #eee;
            }
            border: {
                radius: 50%;
            }
        }

        .home__connection--active {
            background: {
                color: $brand-primary;
            }

            &:hover::after {
                position: absolute;
                top: 24px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 100;
                white-space: nowrap;
                padding: 2px 4px;
                background: {
                    color: rgba(#000, .75);
                }
                border: {
                    radius: 3px;
                }
                content: attr(data-name);
                color: #fff;
            }

            &:hover::before {
                position: absolute;
                top: 19px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 100;
                width: 0;
                height: 0;
                border: {
                    color: transparent transparent rgba(#000, .75) transparent;
                    width: 0 5px 5px 5px;
                    style: solid;
                }
                content: "";
            }

        }
