.home__wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .home__url {
        margin: {
            top: 0;
            bottom: 32px;
        }
        font: {
            size: 48px;
        }
    }

    .home__connections {
        display: flex;
        width: 200px;
        padding: 0;
        margin: {
            top: 0;
            bottom: 64px;
        }
        list-style-type: none;
        justify-content: space-around;
        flex-flow: row nowrap;
    }

        .home__connection {
            width: 16px;
            height: 16px;
            background: {
                color: #eee;
            }
            border: {
                radius: 50%;
            }
        }

        .home__connection--active {
            background: {
                color: $brand-primary;
            }
        }
