{% extends 'layout.html' %}

{% block body %}
    <div class="home__wrapper">
        <h1 class="home__url js-url">url</h1>

        <ul class="home__connections js-connections">
            <li class="home__connection home__connection--active"></li>
            <li class="home__connection home__connection--active"></li>
            <li class="home__connection home__connection--active"></li>
            <li class="home__connection home__connection--active"></li>
            <li class="home__connection home__connection--active"></li>
            <li class="home__connection"></li>
        </ul>

        <button class="home__next">Next</button>
    </div>
{% endblock %}
